body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card {
    background-color: #bad1f3;
    padding: 20px;
    border: 2px solid rgb(149, 170, 190);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

.card h2 {
    margin-bottom: 15px;
    color: #333;
}